.card-title{
    width: 100%;
    padding: 0px 0px 0px 20px !important;
    top: 80%;
    height: 38px;
    opacity: .8;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: white;
}

main {
    flex: 1 0 auto;
}
.title{
    color: #0277bd;
    font-size: 40px;
}
.left{
    margin-left: 30px;
}
p, h1, h2, h3, h4, h5, h6{
    color: #0277bd;
}
.bottom{
    color: white !important;
}
a, i{
    color: #0277bd !important;
    display: inline !important;
}
.social-icons{
    padding: 0px 0px 0px 32px !important;
}
.title{
    border-bottom: 1px solid #0277bd;
    box-shadow: 0 1px 0 0 #0277bd;
}

